In [6]:
number = int(input("Enter the number = "))

if number % 2 == 1:
    print("This is odd number")
else:
    print("This is even number")

Enter the number = 12
This is even number

In [3]:
value = input("Enter the number = ")


if value.isdigit() == True:
    value = int(value)
    if (value >=0 and value <= 9):
        print("This value is number")

elif value.isdigit() == False:
    if (value >= 'a' and value <= 'z') or (value >= 'A' and value <= 'Z'):
        print("This values is charecter")
    else:
        print("This value is special cherecter")

Enter the number = %
This value is special cherecter

In [44]:
# Print First 10 natural numbers using while loop

digit = 1
while digit <= 10:
    print(digit)
    digit += 1

1
2
3
4
5
6
7
8
9
10

In [46]:
# Print the following pattern 

for i in range(1,10):
    for j in range(1,i+1):
        print(j,end = '')
    print('')

1
12
123
1234
12345
123456
1234567
12345678
123456789

In [54]:
# Calculate the sum of all numbers from 1 to a given number

number_1 = int(input('Enter the number : '))
sum = 0
for i in range(1,number_1+1):
    sum += i
print(f'sum of 1 to {number_1} = ',sum)

Enter the number : 3
sum of 1 to 3 =  6

In [60]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    print(i, end=", ")

12, 75, 150, 180, 145, 525, 50,

In [65]:
 a = 23456
    
count = 0

while a !=0:
    print(a)
    a //= 10
    count += 1
print(count)

23456
2345
234
23
2
5

In [79]:
for q in range(10,0,-1):
    for r in range(q,0,-1):
        print(r,end=" ")
    print(" ")

10 9 8 7 6 5 4 3 2 1
9 8 7 6 5 4 3 2 1
8 7 6 5 4 3 2 1
7 6 5 4 3 2 1
6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [3]:
for i in range(1,5):
    for j in range(1,i+1):
        print("*",end='')
    for k in range(5,1,-1):
        print(k,end='')
    print('')
for i in range(5,0,-1):
    for j in range(1,i+1):
        print(j,end='')
    print('')

*5432
**5432
***5432
****5432
12345
1234
123
12
1